APP_NAME=Vito
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://127.0.0.1

VITO_DESKTOP=true
VITO_DATA_PATH=
VITO_ENV_PATH=
VITO_STORAGE_PATH=

APP_SERVICES_CACHE=
APP_PACKAGES_CACHE=
APP_CONFIG_CACHE=
APP_ROUTES_CACHE=
APP_EVENTS_CACHE=
VIEW_COMPILED_PATH=

DB_CONNECTION=sqlite
DB_DATABASE=database.sqlite

QUEUE_CONNECTION=database
DB_QUEUE=default
QUEUE_FAILED_DRIVER=database-uuids

CACHE_DRIVER=file
SESSION_DRIVER=file
FILESYSTEM_DISK=local

MAIL_MAILER=log

WS_HOST=127.0.0.1
WS_PORT=8085
WS_ALLOWED_ORIGINS=
WS_BROADCAST_SECRET=

SCRIBE_AUTH_KEY="YOUR-API-KEY"
