/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.pem
/storage/test-key
/storage/test-key.pub
/vendor
/storage/database.sqlite
/storage/database-test.sqlite
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
